.registroform-container{
    background-color: white;
    border-radius: 10px;
}

.registroform-titulo{
    font-size: 30px;
    font-weight: 300;
}

.registroform-rojo{
    color:red;
    font-size: 15px;
    font-weight: 600;
}
